<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
    <a class="navbar-brand text-white" href="#" >Facebook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">



        <li>
            <a class="nav-link active text-white" aria-current="page" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" routerLink="/" *ngIf="!_user.isLoggedIn">LOGIN</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/user/register" *ngIf="!_user.isLoggedIn">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/user/profile" *ngIf="_user.isLoggedIn">Profile</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/user/all" *ngIf="_user.isLoggedIn">All Users</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/post/add" *ngIf="_user.isLoggedIn">Add Post</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/post/myPosts" *ngIf="_user.isLoggedIn">All Posts</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="active"
          *ngIf="_user.isLoggedIn">{{ _user.userData?.name }}
            <button class="btn btn-danger" (click)="logMeOut()">Logout</button></a>
      </li>

        </ul>
      </div>
    </div>
  </nav>
