<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of data; let i = index">
        <td>{{ user._id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.gender }}</td>

        <td>
          <button class="btn btn-primary mx-2" routerLink="{{user._id}}">Show Info</button>
          <button class="btn btn-danger mx-2" (click)=" handleDel(user._id, i)">Delete User</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- {{ data | json }} -->
</div>
